```css
:root {
  --background: #030305;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
```
